:root {
  scroll-behavior: smooth;

  --vp-c-accent: #2b60ff;
  --vp-c-accent-bg: #2b60ff;
  --vp-c-accent-hover: #0b40ff;
  --vp-c-accent-soft: rgb(43 96 255 / 14%);
}

[data-theme='dark'] {
  --vp-c-accent: #2b60ff;
  --vp-c-accent-bg: #2b60ff;
  --vp-c-accent-hover: #0b40ff;
  --vp-c-accent-soft: rgb(43 96 255 / 16%);
}
